.idea/
.vscode
*.DS_Store
engine.egg-info
__pycache__
**/cache.json
**/llama_cache.json
engine/key.py
outputs/
cache/
# Ignore node_modules
node_modules/
scripts/assets/mitsuba/rover_background/tmp*.xml
unused/
