.idea/
.vscode
*.DS_Store
logs
tmp
engine/third_party/llm
engine.egg-info
__pycache__
*.exr
**/cache.json
**/llama_cache.json
engine/key.py
scripts/exp/icl_0405/outputs/*.py
scripts/exp/icl_0409/outputs/*.png
scripts/exp/icl_0409/outputs/*.py
scripts/exp/icl_0409/*cache.json
scripts/exp/icl_0410/outputs
scripts/exp/icl_0410/cache.json
scripts/exp/icl_0410_rot/cache.json
scripts/exp/icl_0410_rot/outputs
scripts/exp/icl_0411/outputs
scripts/exp/icl_0411/cache.json
scripts/exp/icl_0411_merge_shape/outputs
scripts/exp/icl_0416/outputs
scripts/exp/icl_0416/cache.json
scripts/exp/icl_0417/outputs
scripts/exp/icl_0417/cache.json
scripts/exp/icl_0429/outputs
scripts/exp/icl_0429/cache.json
scripts/exp/icl_0429/cache_20240507.json
scripts/exp/icl_0429/assets
scripts/exp/icl_0508/cache.json
scripts/exp/icl_0508/outputs
outputs/
scripts/exp/matt_experiments/icl_0414_basic/results/
scripts/exp/icl_0417/prompts/minecraft/outputs/
scripts/exp/icl_*/cache.json
scripts/exp/icl_*/outputs
scripts/exp/icl_*/prompts/renderings
scripts/exp/icl_0512/cache_20240512.json
scripts/exp/icl_0512/assets/**/*.png
scripts/exp/icl_0512/assets/matt0804
scripts/exp/icl_0512/assets/matt0819
scripts/exp/icl_0512/assets/mitsuba
scripts/exp/icl_0512/assets/selected-results-minecraft
scripts/exp/icl_0512/assets/selected-results-minecraft-backup-0913.zip
scripts/exp/icl_0512/assets/*.py
scripts/exp/icl_0512/assets/*.txt
cache/
scripts/exp/icl_*/shap_e_model_cache/
scripts/exp/icl_*/cache*.json
scripts/exp/icl_*/*cache*.json
scripts/exp/icl_*/outputs*
scripts/exp/icl_*/.threestudio_cache/
# Ignore node_modules
node_modules/
scripts/assets/mitsuba/rover_background/tmp*.xml
unused/
